<br><br><br><br><br><br><br>
<div class="navbar-default sidebar" role="navigation">
	<div class="sidebar-nav navbar-collapse">
		<ul class="nav" id="side-menu">
			<li><a ui-sref="user.welcome"><i class="fa fa-home fa-fw"></i>
					Home</a></li>
			<li><a
				ui-sref="user.category"><i class="fa fa-envelope fa-fw"></i>
					Categories</a></li>
			<li><a
				ui-sref="user.subCategory"><i class="fa fa-envelope fa-fw"></i>
					Sub Categories</a></li>
			<li><a ui-sref="user.template"><i class="fa fa-users fa-fw"></i>
					Templates</a></li>
			<li><a ui-sref="user.add"><i class="fa fa-users fa-fw"></i>
					Adds</a></li>
			<!-- <li><a ui-sref="user.slider"><i class="fa fa-users fa-fw"></i>
					Sliders</a></li> -->
		</ul>
	</div>
</div>

<div id="page-wrapper">
	<div ui-view></div>
</div>
<br><br><br>