<br><br>
<div class="container">
	<div class="row">
		<div class="col-lg-10">
			<h1 class="page-header homeheading">Home</h1>
		</div>
	</div>
	<div class="row">
		<div class="col-md-16">
			<h4>Welcome to Trinetra Fashions</h4>
			<div class="xs-margin"></div>
			<!-- Category: <input type="text" ng-model="categoryName"><br />
			Select Print Card to upload:
			<div class="button" ngf-select ng-model="file" name="file"
				ngf-max-size="20MB" ngf-min-height="100">Browse</div>
			<button type="submit" ng-click="saveCategoryWithFile();">Save</button> -->

			<div class="col-md-8">
				<div class="md-margin"></div>
				<div class="panel panel-default">
					<div class="panel-heading">
						<h3 class="panel-title">Trinetra Fashions</h3>
					</div>
					<div class="panel-body">
						<ul class="a">
							<li>Trinetra Fashions is multi brand cloth store for mens who
								need many types of fashion wears like Jean Pants, Shirts, T-Shirts,
								Inner Wears, Shorts with reasonable prices with good quality!</li>
							<li>Mobile app and website helps users to see different types of models and new fashion designs.</li>
							<li>First tie in Nizamabad with best quality and resonable prices</li>
							<br />
							<li>Trinetra Fashions include:
								<ul class="b">
									<li>Resonable Prices</li>
									<li>Latest Models</li>
									<li>New Designs</li>
									<li>Best quality</li>
									<li>Use of services</li>
									<li>Mobile app</li>
									<li>Satisfaction with the experience</li>
								</ul>
							</li>
						</ul>
					</div>
				</div>
				<div class="panel panel-default">
					<div class="panel-heading">
						<h3 class="panel-title">About Us</h3>
					</div>

					<div class="panel-body">
						<b>Who We Are:</b><br />
						<p>Trinetra Fashions is multi brand cloth store for mens who
							need many types of fashion wears like Jean Pants, Shirts, T-Shirts,
							Inner Wears, Shorts with reasonable prices with good quality!</p>

						<b>What We Are:</b><br />
						<p>Trinetra Fashions is multi brand cloth store for mens who
							need many types of fashion wears like Jean Pants, Shirts, T-Shirts,
							Inner Wears, Shorts with reasonable prices with good quality!</p>


						<b>Categories :</b><br />
						<p>1.Jean Pants 2.Shirts 3.T-Shirts 4.Inner Wears, 5.Shorts
							6.Night Pants 7.Others</p>

						<!--<b>Terms & Conditions :</b><br />
						<p>1) All the designs just samples only. 2) All the visible
							items are only a JPEG files & it cannot be corrected. 3) All view
							files for example: Visiting Card, Letterhead, Tax Invoice etc.
							for view purpose only and not for any further correction / to be
							printed. 4) For each item you can see various sample / designs.
							Based on this further, you can make your own self design. 5) All
							the designs are not for sale. It is a just service oriented only.
							6) The original soft copy of the designs cannot be given to any
							one at any point of time. 7) We shall not be held responsible for
							any over sighted errors / corrections / spell check in all the
							designs. 8) Subject to Hyderabad jurisdiction only.</p>-->
					</div>
				</div>
			</div>
		</div>
	</div>
</div>
<br><br><br>