<div class="container">
	<div class="row">
		<div class="col-lg-10">
			<h1 class="page-header">Slider</h1>
		</div>
	</div>
	<div class="row">
		<div class="col-md-4">
			<div class="xs-margin"></div>
			<div class="xs-margin"></div>

			<a class="btn btn-success" ng-click="showAddaddModal()"
				title="Click to add add">Add New add</a>
			<div class="xs-margin"></div>

			<table class="table table-borderd">
				<thead>
					<tr>
						<th class="table-title">SN</th>
						<th class="table-title">Add ID</th>
						<th class="table-title al">Add Name</th>
						<th class="table-title al">Add Image</th>
						<th class="table-title">Action</th>
					</tr>
				</thead>
				<tbody>
					<tr ng-repeat="add in adds">
						<td>{{$index+1}}</td>
						<td class="al">{{add.id}}</td>
						<td class="al">{{add.addName}}</td>
						<td class="al">
							<div class="sequencebg" ng-if="add.addPicPath != null">
								<img src="/doc/get/{{add.addPicPath}}" width="80"
									height="80" />
							</div>
							<div class="sequencebg" ng-if="add.addPicPath == null">
								<img src="/static/resources/images/logo_final-min.png" width="80"
									height="80" />
							</div>
						</td>
						<td>
							<table>
								<tr>
									<td>
										<button class="btn green" type="button" title="Click to Edit"
											ng-click="editAdd($index);">
											<span class="glyphicon glyphicon-pencil"></span>
										</button>
									</td>
									<td>
										<div>
											<button class="btn red" type="button" title="Click to Delete"
												ng-click="deleteAdd(add.id);">
												<span class="glyphicon glyphicon-trash"> </span>
											</button>
										</div>
									</td>
								</tr>
							</table>
						</td>
					</tr>
				</tbody>
			</table>
		</div>
	</div>
</div>

<!-- pop up for Add add -->
<div class="modal fade add-add-modal" tabindex="-1" role="dialog"
	aria-hidden="true">
	<div class="modal-dialog modal-md">
		<div ng-form="AddsForm" class="modal-content">
			<div class="modal-header">
				<button type="button" class="close" data-dismiss="modal"
					aria-hidden="true">&times;</button>
				<h4 class="modal-title" id="myModalLabel">Add</h4>
			</div>
			<div class="modal-body">
				<div class="form-group">
					<label>Add Name*</label> <input type="text"
						class="form-control" name="addName" id="addName"
						ng-model="addVO.addName" required />
				</div>
				<br/>
				<br/>
					<label>Select Image file to upload:</label>
				<div class="btn green" ngf-select ng-model="file" name="file"
					ngf-max-size="5MB" >Browse</div>
					<span>{{ file.name }}</span>
					<br/>
					<br/>
				<button class="btn green" type="submit"
					ng-click="saveAddWithFile();">Upload And Save</button>
			</div>
			<div class="xs-margin"></div>
			<div class="xs-margin"></div>
		</div>
	</div>
</div>
