<!-- 
<div class="main">
<div class="wrap">
    <div class="section group">

            <div class="cont span_2_of_3">
                <h2 class="headings">Templates</h2>
                <div class="col_1_of_3 span_1_of_3 " ng-repeat="template in templates">
                    <figure>
                        <img class="imgtemp" src="/doc/get/{{template.templatePicPath}}" ng-click="openInNewWindow(template.templatePicPath)" />
                        <center><figcaption>{{template.templateName}}</figcaption></center>
                    </figure>
                </div>
            </div>
    </div>
</div>

    <div class="rsidebar span_1_of_left">
        <div class="top-border"> </div>
        <img class="imgadd" src="static/resources/images/adds/02.jpg"  alt="" />
        <img class="imgadd" src="static/resources/images/adds/03.jpg"  alt="" />
        <img class="imgadd" src="static/resources/images/adds/04.jpg"  alt="" />
        <img class="imgadd" src="static/resources/images/adds/05.jpg"  alt="" />
        <img class="imgadd" src="static/resources/images/adds/06.jpg"  alt="" />
        <img class="imgadd" src="static/resources/images/adds/07.jpg"  alt="" />

    </div>
</div>
 -->
<div class="section group">

	
	<div class="col span_3_of_3">
	 <h2 class="headings"></h2>
		<h2 class="headings">Templates</h2>
                
	</div>
	<div class="col span_1_of_3">
             <div ng-repeat="add in adds">
             <img class="imgadd" src="/doc/get/{{add.addPicPath}}" />
             </div>
</div>
</div>
<br><br><br><br>