<br>
<br>
<br>
<br>
<br>
<br>
<br>
<div class="section group">
    <div class="col span_3_of_3">
        <h2 class="headings">About Us</h2>

        <br/>
        <p>
            &#8195; 3netra Fashions is a multi brand cloth store for men's who
            need many types of fashion wears like Jean Pants, Shirts, T-Shirts,
            Inner Wears, Shorts with reasonable prices with good quality! <br/>
        </p>

        <!--<div class="panel-body">
            <ul class="a">
                <h3 class="subheadings">Trinetra Fashions include: </h3>   <br/>
                <ul class="b">
                    <li>Reasonable Prices</li>
                    <li>Latest Models</li>
                    <li>New Designs</li>
                    <li>Best quality</li>
                    <li>Use of services</li>
                    <li>Mobile app</li>
                    <li>Satisfaction with the experience</li>
                </ul>
            </ul>
        </div>
-->

        <div class="toogle">
            <h3 class="subheadings">Who We Are</h3>
            <br/>

            <p>&#8195; First time in Nizamabad we started 3netra Fashions a multi brand cloth store for mens wear with
                reasonable prices with best quality.</p>
        </div>


        <div class="toogle">
            <h3 class="subheadings">What We Are</h3>
            <br/>
            <p>
                &#8195; Trinetra Fashions is multi brand cloth store for mens who
                need many types of fashion wears like Jean Pants, Shirts, T-Shirts,
                Inner Wears, Shorts with reasonable prices with good quality! <br/><br/>

                &#8195; We have mobile app named <a target="_blank" href="https://play.google.com/store/apps/details?id=com.geeklabs.trinetrafashions">'3netra Fashions'</a>
                and website named <a target="_blank" href="http://3netrafashions.in/">'www.3netrafashions.in'</a>. You can
                see our latest models and designs in both website as well as mobile app with neat functionality.
            </p>
        </div>
        <!-- <div class="toogle">
             <p>&#8195; We have mobile app named '3netra Fashions' and website named 'www.3netrafashions.in'. You can see
                 our latest
                 models and designs in both website as well as mobile app. Trinetra Fashions is multi brand cloth store
                 for mens who
                 need many types of fashion wears like Jean Pants, Shirts, T-Shirts,
                 Inner Wears, Shorts with reasonable prices with good quality!</P>
         </div>-->

        <div class="panel-body">
            <ul class="a">
                <h3 class="subheadings">Categories :</h3> <br/>
                <p>1.Jean Pants 2.Shirts 3.T-Shirts 4.Inner Wears 5.Shorts
                    6.Night Pants 7.Others</p>
                <br/> <br/>

                <h3 class="subheadings">3netra Fashions include: </h3>
                        <li>Reasonable Prices</li>
                        <li>Latest Models</li>
                        <li>New Designs</li>
                        <li>Best quality</li>
                        <li>Use of services</li>
                        <li>Mobile app</li>
                        <li>Satisfaction with the experience</li>
            </ul>
        </div>

        <div class="toogle">
            <p>&#8195; Feel free to contact us if you have any
                queries, we will be happy to assist you with your requests. We're
                glad to help you. E-mail : 3netrafashions@gmail.com.</P>
        </div>

        <!--<div class="toogle">
            <h3 class="subheadings">Terms and Conditions</h3>
            <br />

            <p> (1) All the designs just samples only <br />
                 (2) All the visible items are only a JPEG files & it cannot be corrected <br />
                (3) All view files for example: Visiting Card, Letter head, Tax Invoice etc. for
                view purpose only and not for any further correction / to be printed<br />
                (4) For each item you can see various sample / designs. Based on
                this further, you can make your own self design <br />
                (5) All the designs	are not for sale. It is a just service oriented only <br />
                (6) The	original soft copy of the designs cannot be given to any one at any
                point of time <br />
                (7) We shall not be held responsible for any over
                sighted errors / corrections / spell check in all the designs <br />
                (8) Typographic, Photographic & Technical Errors: Although we do our
                best to achieve 100% accuracy, occasionally errors & inaccuracies do
                occur. Should you encounter an error or inaccuracy, please inform us
                so it can be corrected <br />
                (9) Subject to Hyderabad Jurisdiction only.</p>
        </div>-->

    </div>
</div>
<br>
<br>
<br>