<br>
<br>
<br>
<br>
<br>
<br>
<br>
<div class="section group">
	<div class="col span_3_of_3">
		<h2 class="headings">Contact Us</h2>
		<br> &#8195; Feel free to contact us if you have any queries,
		we will be happy to assist you with your requests. We're glad to help you. 
		
		<br> <br>

		3netra Fashions <br>
		Beside Bank Of India Lane,
		Kalika Devi Temple Road,<br>
		Vinayak Nagar-Road No.4,<br>
		Nizamabad, Telangana- 503001<br>
		Telephone: +91 9533701751, 9542934219, 9908069807.<br>
		Email: 3netrafashions@gmail.com<br>
		Get in touch with Facebook: <a href="https://www.facebook.com/trinetrafashions/?ref=aymt_homepage_panel" target="_blank"><i class="fa fa-facebook-square fa-3x"></i></a><br><br>
	</div>
</div>
<br><br><br>