<!DOCTYPE html>
<html lang="en">
<head>
	<meta charset="UTF-8">
	<meta http-equiv="X-UA-Compatible" content="IE=edge">
	<meta name="viewport" content="width=device-width, initial-scale=1">
	<!-- This should be removed in prod -->
	<META HTTP-EQUIV="CACHE-CONTROL" CONTENT="NO-CACHE">
	<title>3netra Fashions</title>
	<link rel="icon" href="static/resources/images/3netraFashions.jpg" type="image/x-icon" />
	<!-- Angular Calendar -->
	<link rel="stylesheet"
		  href="bower_components/angular-bootstrap-calendar/dist/css/angular-bootstrap-calendar.min.css" />

	<!--  Font awesome CSS -->
	<link rel="stylesheet" href="static/resources/css/font-awesome.min.css" />
	<!-- Timeline CSS -->
	<link href="static/resources/css/timeline.css" rel="stylesheet">
	<!-- jquery min for calender -->
	<link href="static/resources/css/jquery-ui.min.css" rel="stylesheet">
	<!-- Custom CSS -->
	<link href="static/resources/css/sb-admin-2.css" rel="stylesheet">

	<!-- Bootstrap css -->
	<link rel="stylesheet"
		  href="bower_components/bootstrap/dist/css/bootstrap.min.css" />

	<!-- MetisMenu CSS -->
	<link href="bower_components/metisMenu/dist/metisMenu.min.css"
		  rel="stylesheet">

	<!-- Our own style css -->
	<link href="static/resources/css/style.css" rel="stylesheet">

	<link rel="stylesheet" href="static/resources/home/css/style.css" />

	<!-- Vendor - Bower Css components -->
	<link rel="stylesheet"
		  href="bower_components/angular-notify/dist/angular-notify.min.css" />
	<link rel="stylesheet"
		  href="bower_components/angular-loading-bar/build/loading-bar.min.css" />
	<!-- date picket -->
	<link rel="stylesheet"
		  href="bower_components/angular-bootstrap-datetimepicker/src/css/datetimepicker.css" />
</head>
<body ng-app="TemplatesApp" ng-controller="ApplicationCtrl">
<div class="container navbar-fixed-top">
	<header>
		<div id="wrapper">
			<nav class="navbar navbarhead navbar-default navbar-static-top"
				 role="navigation" style="margin-bottom: 0">

				<div class="navbar-header pull-left">
					<button type="button" class="navbar-toggle" data-toggle="collapse"
							data-target=".navbar-collapse">
						<span class="sr-only">Toggle navigation</span> <span
							class="icon-bar"></span> <span class="icon-bar"></span> <span
							class="icon-bar"></span>
					</button>
					<a ui-sref="index" class="navbar-brand"> <small> <img
							class="icon" src="static/resources/images/3netraFashions.jpg" />
					</small>
					</a>
				</div>
				<div class="header-top">
					<div class="wrap">
						<br/>
						<br/>
							<span class="col-md-6 col-sm-6"> <input type="text"
																	class="form-control" ng-model="templateName"
																	placeholder="Enter template name starts with"
																	data-ng-change="filterList()" />
							</span>

						<a target="_blank" href="https://play.google.com/store/apps/details?id=com.geeklabs.trinetrafashions"><img
								class="googleplayicon"
								src="static/resources/images/googleplay.png" /></a>

						<div class="cssmenu" align="center">
							<ul>
								<li class="active grid"><a ui-sref="index">Home</a></li>
								<li><a ui-sref="about">About</a></li>
								<li><a ui-sref="features">Features</a></li>
								<li><a ui-sref="services">Services</a></li>
								<li><a ui-sref="contact">Contact</a></li>
								<li><a ui-sref="login">Log In</a></li>
								<li ng-if="currentUser"><a href="" ng-click="logout();">Logout</a></li>
							</ul>
						</div>
						<div class="clear"></div>
					</div>
				</div>

				<div class="pull-right" ng-if="currentUser">Welcome,{{currentUser.username}}</div>
			</nav>
		</div>
	</header>
</div>
<br />

<!-- Actual Content goes here -->
<div class="container" ui-view></div>
<div class="footer-bottom">
	<div class="wrap">
		<div class="copy">
			<p>
				&copy; 2016 Powered by 3netra Fashions &trade;. All Rights Reserved<a
					href="#" target="_blank"></a>
			</p>
			<li><a href="https://www.facebook.com/trinetrafashions/?ref=aymt_homepage_panel" target="_blank"><i class="fa fa-facebook fa-3x"></i></a></li>

		</div>
		<div class="f-list2">
			<ul>
				<li class="active"><a href="#">Designed and Developed by</a></li>
				<li><a target="_blank" href="http://www.geeklabs.co.in ">Geek Labs</a></li>
			</ul>
		</div>
		<div class="clear"></div>
	</div>
</div>
</body>

<!-- jQuery -->
<script src="bower_components/jquery/dist/jquery.min.js"></script>
<script src="bower_components/jquery/dist/jquery.js"></script>

<!--  google lib for places -->
<!--<script type="text/javascript" src="http://maps.googleapis.com/maps/api/js?libraries=places&sensor=false"></script>-->

<!-- Bower javascript includes -->
<script type="text/javascript"
		src="bower_components/angularjs/angular.min.js"></script>
<script type="text/javascript"
		src="bower_components/angular-animate/angular-animate.min.js"></script>
<script type="text/javascript"
		src="bower_components/angular-notify/dist/angular-notify.min.js"></script>
<script type="text/javascript"
		src="bower_components/angular-ui-router/release/angular-ui-router.min.js"></script>

<!-- Needed for Restangular, part of underscore -->
<script type="text/javascript"
		src="bower_components/lodash/dist/lodash.compat.js"></script>
<script type="text/javascript"
		src="bower_components/restangular/dist/restangular.js"></script>
<script type="text/javascript"
		src="bower_components/angular-loading-bar/build/loading-bar.min.js"></script>
<script type="text/javascript"
		src="bower_components/ngAutocomplete/src/ngAutocomplete.js"></script>
<script type="text/javascript"
		src="bower_components/angular-bootstrap/ui-bootstrap.min.js"></script>
<script type="text/javascript"
		src="bower_components/angular-bootstrap/ui-bootstrap-tpls.min.js"></script>


<!-- Bower javascript includes -->

<!-- Metis Menu Plugin JavaScript -->
<script src="bower_components/metisMenu/dist/metisMenu.min.js"></script>

<!-- Bootstrap Core JavaScript -->
<script src="bower_components/bootstrap/dist/js/bootstrap.min.js"></script>

<!-- Caldendar  -->
<script src="bower_components/moment/min/moment-with-locales.min.js"></script>
<script src="bower_components/moment/min/moment.min.js"></script>
<script
		src="bower_components/angular-bootstrap-calendar/dist/js/angular-bootstrap-calendar.js"></script>
<script
		src="bower_components/angular-bootstrap-calendar/dist/js/angular-bootstrap-calendar-tpls.js"></script>

<!-- File upload -->
<script src="bower_components/ng-file-upload/ng-file-upload.min.js"></script>

<!-- app js includes-->
<script type="text/javascript" src="static/resources/js/app.js"></script>
<script type="text/javascript"
		src="static/resources/js/ApplicationCtrl.js"></script>

<script type="text/javascript"
		src="static/resources/js/login/LoginCtrl.js"></script>
<script type="text/javascript"
		src="static/resources/js/home/HomeCtrl.js"></script>
<script type="text/javascript"
		src="static/resources/js/index/IndexCtrl.js"></script>
<script type="text/javascript"
		src="static/resources/js/index/templateViewCtrl.js"></script>
<script type="text/javascript"
		src="static/resources/js/auth/AuthCtrl.js"></script>
<script type="text/javascript"
		src="static/resources/js/tabs/AboutCtrl.js"></script>
<script type="text/javascript"
		src="static/resources/js/tabs/FeaturesCtrl.js"></script>
<script type="text/javascript"
		src="static/resources/js/tabs/ServicesCtrl.js"></script>
<!-- <script type="text/javascript" src="static/resources/js/adds/AddsCtrl.js"></script> -->

<script type="text/javascript"
		src="static/resources/js/users/UserCtrl.js"></script>
<script type="text/javascript"
		src="static/resources/js/users/UserInfoService.js"></script>

<!--  Custom js  -->
<script src="static/resources/js/sb-admin-2.js"></script>
<script type="text/javascript"
		src="static/resources/js/bootstrap-datepicker.js"></script>
<script type="text/javascript"
		src="static/resources/js/jquery-ui.min.js"></script>

<!--  Auth includes -->
<script type="text/javascript"
		src="static/resources/js/auth/AuthService.js"></script>
<script type="text/javascript"
		src="static/resources/js/auth/Constants.js"></script>
<script type="text/javascript" src="static/resources/js/auth/Session.js"></script>

<!-- Category -->
<script type="text/javascript"
		src="static/resources/js/category/CategoryCtrl.js"></script>
<script type="text/javascript"
		src="static/resources/js/subCategory/SubCategoryCtrl.js"></script>

<!-- Template -->
<script type="text/javascript"
		src="static/resources/js/template/TemplateCtrl.js"></script>

<!-- Adds -->
<script type="text/javascript" src="static/resources/js/adds/AddCtrl.js"></script>

<!-- date picker -->
<script type="text/javascript"
		src="bower_components/angular-bootstrap-datetimepicker/src/js/datetimepicker.js"></script>

<script type="text/javascript"
		src="bower_components/ngAutocomplete/src/ngAutocomplete.js"></script>

</html>