<br>
<br>
<br>
<br>
<br>
<br>
<br>
<div class="section group">
	<h2 class="headings">Services</h2>
	<br/><br/>

	<h3 class="subheadings">Here we are providing different types of
		cloths includes:</h3>

	<div class="col span_1_of_3_services">
		<div class="toogle">
			<li>1.Jean Pants</li>
			<li>2.Shirts</li>
			<!--<li>3.T-Shirts</li>
			<li>4.Inner Wears</li>
			<li>5.Shorts</li>
			<li>6.Night Pants</li>
			<li>7.Others</li>-->
		</div>

	</div>
	<div class="col span_2_of_3_services">
		<div class="toogle">
			<li>3.T-Shirts</li>
			<li>4.Inner Wears</li>
			<!--<li>Hotel, Lodging Templates</li>
			<li>House Warming Invitation Templates</li>
			<li>Identity Card Templates</li>
			<li>Invitation Cards Templates</li>
			<li>Invoice Templates</li>
			<li>Labels Templates</li>
			<li>Leaflets, Flyer Templates</li>
			<li>Letterhead Templates</li>
			<li>Logistic Transport Templates</li>
			<li>Notebook Title Templates</li>
			<li>Pamphlet Templates</li>
			<li>Pattu Vastralankarana Invitation Templates</li>
			<li>Photo Studio Templates</li>
			<li>Quotation Templates</li>
			<li>Receipt Templates</li>-->
		</div>
	</div>
	<div class="col span_3_of_3_services">
		<div class="toogle">
			<li>5.Shorts</li>
			<li>6.Night Pants</li>
			<!--<li>Reception Card Templates</li>
			<li>Register Templates</li>
			<li>Reports Templates</li>
			<li>School, College, Institutional Templates</li>
			<li>Sticker Templates</li>
			<li>Symbol Templates</li>
			<li>Tours and Travel Templates</li>
			<li>Upanayanam Cards Templates</li>
			<li>Visiting Card Templates</li>
			<li>Vouchers Templates</li>
			<li>Wedding Card Templates</li>
			<li>Wedding Personal Card Templates</li>
			<li>Many more templates</li>-->
		</div>
	</div>
	<br>
	<br>

	<div class="panel-body">
		<div class="toogle">
			<h3 class="subheadings">Trinetra Fashions include: </h3>   <br/>
				<li>Resonable Prices</li>
				<li>Latest Models</li>
				<li>New Designs</li>
				<li>Best quality</li>
				<li>Use of services</li>
				<li>Mobile app</li>
				<li>Satisfaction with the experience</li>
		</div>
	</div>

</div>
<br>
<br>
<br>